.body1{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
   max-width: 500px;
 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.body1__first{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
.body1__button{
    font-size:large ;
    padding: 22px;
    border-radius: 20px;
    border-color: #9d0aff;
    background: transparent;
    background-color: #9d0aff;
        color: white;
        margin-top: 40px;
}
